*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  text-align: center;
  background-color: #fdfdfd;
}
.container {
  background-color: #fff;
  max-width: 960px;
  margin: 0 auto;
}
.error {
  color: red;
}
.success {
  color: blue;
}
